# Project Files
.idea/*
dep/*

# Hidden files
.fuse*
**/*~
**/*.DS_Store

# Data
data/intact/xml/*
data/intact/source-text.txt
data/instruct/sapiens.sin
data/interactome/interactions.dat
data/reactome/FIsInGene_031516_with_annotations.txt
data/variants/IDC_lumA_dnaseq.maf

# Build Files
build/

# Log Files
DockingServer/log/*.log.txt

# Reports
reports/*

# Temporary hex files
DockingServer/hex/hex-tmp-8.0.0/*
DockingServer/hex/*.swp

# Docking Server Input
DockingServer/input/**/*.pdb
DockingServer/input/**/*.tar
DockingServer/input/**/*.zip
DockingServer/input/**/*.dat
DockingServer/input/reaction_5672965/.sass-cache/*

# Docking Server Output
DockingServer/output/*
